.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.show-times {
  position: relative;
  left: 20em;
  display: inline;
  padding-bottom: 1em;
}

.film-title{
  display: inline;
}

li{
  width:auto;

}

.more-times{
  display: block;
  padding-bottom: 1em;
}

.film-box{
  border: 1px solid grey;
  background-color: hsl(0, 0%, 94%);
}
p{
  color: 	hsl(0, 0%, 20%);
  font-size: 1.5em;
}

a {
  color: 	hsl(210, 63%, 43%);
  text-decoration: none;
}

button{
  padding-bottom: 0.5em;
}
